<% provide(:title, "About") %>
<h1>About</h1>

<%= image_tag("ben_pic_medium.JPG",
              :alt => "cute boy, smiling",
              :width => "15%", :height => "15%",
              :style => "display: block; margin: auto; height: 10%; align: right;") %>

<div style="text-align: center;">
  This was made by me, Ben.
</div>