<% provide(:title, "Home") %>

<h1>Internet Website</h1>
<p>
  This is the home page for this internet website.
</p>

<p>
  I've chosen to opt for a minimalist website. This is by design.
</p>

<p>
  Below, I've decided to enlighten you with a quote. Feel free to view as many as you'd like, at no charge.
</p>

<p>
  <h1>
  <%= get_quote() %>
  </h1>

<input name="fingerprint" id="fingerprint" type="hidden">

<script type="text/javascript">
      document.getElementById("fingerprint").value = (new Fingerprint().get())
  </script>
  <%= user_exists?() %>



</p>